{% extends 'base.html' %}

{% block title %}
Animal Facts
{% endblock %}

{% block content %}
<h1>Animal Facts</h1>
<form action="/animal_facts" method="GET">
    <fieldset>
        <legend>Your Info:</legend>

        <label>
            Which animal do you want facts on?
            <select name="animals">
                {% set count = namespace(value=0) %}
                {% for animal in animals %}
                    <option value={{count.value}}>{{animal}}</option>
                    {% set count.value = count.value + 1 %}
                {% endfor %}
            </select>
        </label>
        
        <input type="submit" value="Get Fact!">
    </fieldset>
</form>
<section id="form_results">
    {% if result is not none %}
    <p>
        <strong>Here is your animal fact:</strong><br>
        {{result}}
    </p>
    {% else %}
    <p>
    Please choose an animal to see a fact about them!
    </p>
    {% endif %}
</section>

{% endblock %}
